/* .container-fluid {
    background-color: skyblue;
} */
header {
  margin-top: 30px;
  color: #2E99A9;
  font-size: large;
}

hr {
  border-width: 3px;
  border-color: #2E99A9;
  margin: 30px 0;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}