@import url(sanitize.css);

/* 共通設定 */
body {
    font-family: 'Shippori Mincho', serif;
    background-color: #f0f0f0;
    padding: 10px;
    font-size: 16px;
    color: #666;
}

a {
    text-decoration: none;
    color: #666;
    transition: color .5s;
}

a:hover {
    color: rgba(8, 125, 135, 60%);
}

.line {
    background: linear-gradient(transparent 60%, rgba(8, 125, 135, 60%)80%);
}

.title {
    background: linear-gradient(transparent 10%, rgba(170, 134, 75, 60%)80%);
    font-size: 24px;
    text-align: left;
}

/* ファーストビュー */
.top {
    padding: 0 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-left: 7px dotted #d7c8b0;
    background-color: #f0f0f0;
    outline: 3px solid #d7c8b0;
    outline-offset: 0.5em;
    position: relative;
    text-shadow: 4px 4px 4px #aaa;
}

.top::after {
    content: '';
    position: absolute;
    right: calc(-0.5em - 3px);
    top: calc(-0.5em - 3px);
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: #d7c8b0 #fff #d7c8b0;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}


#head-img {
    width: 100%;
}

.heading {
    width: 50%;
    font-size: 18px;
    margin-left: 24px;
}


/* メインコンテンツ */
.column {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.text {
    width: 50%;
    margin-top: 16px;
    margin-left: 16px;
    font-size: 18px;
}

.img {
    margin: auto;
}

.box {
    position: relative;
    background: #d7c8b0;
    box-shadow: 0px 0px 0px 5px #d7c8b0;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #4e4e4e;
    width: 70%;
}

.box:after {
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #d7c8b0 #fff #d7c8b0;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.box p {
    margin: 0;
    padding: 0;
}

.teagarden {
    font-size: 20px;
}

/* ツールチップ */
.cap {
    border-bottom: solid 3px rgb(8, 125, 135, 60%);
}

.cap:hover {
    color: rgb(8, 125, 135, 60%);
    transition: .3s;
}

/* 表作成 */
table {
    width: 70%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 16px;
}

table th {
    padding: 10px;
    background: #d7c8b0;
    border: solid 1px #584444;
}

table td {
    padding: 10px;
    border: solid 1px #584444;
}

/* 表説明　*/
.elevation {
    max-width: 884px;
    max-width: 100%;
}

/* フッター */
footer {
    margin-top: 16px;
    text-align: right;
    font-size: 20px;
}

/* メディアクエリ設定 */
@media only screen and (max-width:684px) {
    .column .head-img .img {
        display: flex;
        flex: column;
        margin: 0 auto;
    }

    .text {
        width: 100%;
    }

    table {
        width: 100%;
    }
}

@media only screen and (max-width:884px) {
    .heading {
        width: 100%;
    }
}

@media only screen and (min-width:1480px) {
    .img {
        width: 30%;
    }
}